---
layout: archive
title: "Featured In"
permalink: /media/
author_profile: false
---

<ul class="home__advise">
  {% assign articles = site.media | sort: 'date' | reverse %}
  {% for article in articles %}
    <li class="home__advise-item reveal" id="{{ article.title | slugify }}">
      <div class="home__advise-head">
        <span class="home__advise-company">
          {% if article.external_url %}<a href="{{ article.external_url }}" target="_blank" rel="noopener">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}
        </span>
        <span class="home__advise-period">{{ article.date | date: '%b %Y' }}</span>
      </div>

      {% if article.venue or article.location %}
        <div class="home__advise-meta">
          {% if article.type %}{{ article.type }}{% endif %}{% if article.venue %}{% if article.type %}, {% endif %}{{ article.venue }}{% endif %}{% if article.location %}, {{ article.location }}{% endif %}
        </div>
      {% endif %}

      <div class="project__body">
        {{ article.content }}
      </div>
    </li>
  {% endfor %}
</ul>
